#calculator {
    width: 300px;
    margin: 0 auto;
}

#display {
    text-align: right;
    font-size: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: #FAF4A5;
}

.buttons {
    width: 75px;
    height: 75px;
    background-color: #EDEDED;
    border: 1px solid black;
    cursor: pointer;
    margin-left: -4px;
    padding: 0;
    display: inline-block;
    font-size: 20px;
}

.buttons:focus {
    outline: none;
}

.margin-left {
    margin-left: 0;
}

#equals, #zero {
    width: 150px;
}

.numbers {
    color: white;
    background-color: #FF7B00;
}

.clear {
    background-color: #031081;
    color: white;
}